<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bassproject.ebo.com.ebobass">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 直接拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->

   <!-- bugly-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <application>


        <!--==================================扫码===========================================-->
        <activity
            android:name=".qrcode.dommy.qrcode.QrcodeActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".qrcode.google.zxing.activity.CaptureActivity"
            android:screenOrientation="portrait"></activity>

        <!--===================================== alipay sdk start==============================================-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <!--====================================== alipay sdk end =====================================-->

        <!--图片裁剪start==================-->
        <activity
            android:name=".cropimage.CropActivity"
            android:screenOrientation="portrait" />
        <!--图片裁剪end==================-->



        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!--<provider-->
        <!--android:name="android.support.v4.content.FileProvider"-->
        <!--android:authorities="${applicationId}.FileProvider"-->
        <!--android:exported="false"-->
        <!--android:grantUriPermissions="true">-->
        <!--<meta-data-->
        <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--android:resource="@xml/file_paths" />-->
        <!--</provider>-->


    </application>


</manifest>
